/* Color Variables */
:root {
    --cool1: #000000;
    --cool2: #03120B;
    --cool3: #051A0F;
    --cool4: #109C56;
    --cool5: #3E2723;
}


* {
    font-family: 'Poppins';
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.section {
    min-height: 90vh;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #e0e0e0; */
}
.section.fit {
    min-height: fit-content !important;
    padding-bottom: 0;
}
.section.colored {
    background-color: var(--cool5);
    color: white;
}
.section.colored .page-title {
    color: white;
}

.page-title {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5vh;
    width: fit-content;
    /* justify-self: center; */
    align-self: center;
    color: var(--cool4);
}
.page-title.left {
    text-align: left;
    align-self: flex-start;
}

.page-title hr {
    width: 100%;
    height: 4px;
    background-color: var(--cool4);
    border: none;
}

button {
    border-radius: 10px;
    border: none;
    transition: .5s;
}
button.primary {
    height: 50px;
    padding: 0 20px;
    background-color: var(--cool3);
    color: white;
}
button.primary:hover {
    background-color: var(--cool4);
    color: var(--cool2);
}


/* PAGE ESSENTIALS */
.division-container {
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
    padding: 2rem;
}
.division {
    text-align: center;
    padding: 3rem 0;
    /* background-color: var(--cool2); */
    border-radius: 10px;
    margin-bottom: 2rem;
    border: 1px solid #e0e0e0;
}

.division .division-title {
    font-size: 3rem;
    color: var(--cool4);
    text-align: center;
}

.division .division-tagline {
    font-size: 1.5rem;
    color: var(--cool5);
    margin-top: 1rem;
}



.width-full {
    width: 100% !important ;
}
.width-half {
    width: 50% !important ;
}
.width-third {
    width: 33% !important  ;
}

