/* Color Variables */
:root {
    --cool1: #000000;
    --cool2: #03120B;
    --cool3: #051A0F;
    --cool4: #109C56;
    --cool5: #3E2723;
}


* {
    font-family: 'Poppins';
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.section {
    min-height: 90vh;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
}
.section.colored {
    background-color: var(--cool4);
    color: white;
}
.section.colored .page-title {
    color: white;
}

.page-title {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5vh;
    width: fit-content;
    /* justify-self: center; */
    align-self: center;
    color: var(--cool3);
}
.page-title.left {
    text-align: left;
    align-self: flex-start;
}

.page-title hr {
    width: 100%;
    height: 4px;
    background-color: var(--cool3);
    border: none;
}

button {
    border-radius: 10px;
    border: none;
    transition: .5s;
}
button.primary {
    height: 50px;
    padding: 0 20px;
    background-color: var(--cool3);
    color: white;
}
button.primary:hover {
    background-color: var(--cool4);
    color: var(--cool2);
}

button.card-btn {
    background-color: var(--cool3);
    border-radius: 5px !important;
    color: white;
    /* height: 20px; */
    padding: 10px;
}
button.card-btn:hover {
    background-color: var(--cool4);
    color: var(--cool2);
}

.width-full {
    width: 100%;
}
.width-half {
    width: 50%;
}
.width-third {
    width: 33%;
}

