.dashboard-section {
    min-height: 80vh !important;
    /* height: 100vh; */
    width: 100vw;
    display: flex;
}

.left-navigation {
    width: 20%;
    /* background-color: aliceblue; */
    height: 100%;
    padding: 20px;
}
.left-navigation .links {
    list-style: none;
}
.left-navigation .link {
    width: 200px;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    color: #383838;
    font-size: medium;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.left-navigation .link.selected {
    background-color: var(--cool4);
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.left-navigation .link.selected:hover {
    background-color: var(--cool4);
    color: white;
}
.left-navigation .link:hover {
    background-color: #f7f7f7;
    color:#383838;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
}


/* Dashboard Container */
.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    width: 70%;
    /* background-color:antiquewhite; */
    min-height: 80vh;
    padding: 20px;
}

/* Dashboard */
.dashboard {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px 60px;
    width: 100%;
    /* max-width: 800px; */
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); */
}

/* Dashboard Title */
.dash-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    /* text-align: center; */
}

.dashboard .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card.brief {
    margin: 20px;
    width: 150px;
    height: 250px;
}
.product-card.brief .product-image-holder {
    height: 100px
}